*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url('hut.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    background-color: red;
    height: 60px;  
    display: flex;
    align-items: center; 
    padding-left: 100px; 
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2{
    color: black;
    text-align: center;
    margin-top: 200px;
    font-family: 'Poppins', sans-serif;
}
.btn button{
    font-family: 'Poppins', sans-serif;
}
